@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/Montserrat/Montserrat-300.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-300.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/Montserrat/Montserrat-400.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-400.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/Montserrat/Montserrat-500.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-500.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/Montserrat/Montserrat-600.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-600.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/Montserrat/Montserrat-700.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-700.woff') format('woff');
    font-display: block;
}
